
<div class="row">
    <button  data-placement="top" title="Edit Movie Detail"   (click)="OpenModel(3)">  <span class="glyphicon">&#x270f;</span></button>
  
    <ngx-smart-modal #myModal [identifier]="'myModal'" >
      <form #movieForm="ngForm" (ngSubmit)="Update()" >
          <div class="form-group" style="background-color:lightskyblue;text-align: center">
              <h1>Edit Movie Details</h1>
              
            </div>
      <div class="form-group" >
        <img  class="form-control input-sm"src="\assets\Images\Image1.jpg" class="img-fluid" alt="Cinque Terre">
      </div>
     
      <div class="form-group">
        <figcaption class="form-control input-sm" style="color:yellow">****</figcaption>
      </div>
      <div class="form-group">
          
            <input required type="text" class="form-control input-sm"#YearControl="ngModel"  [(ngModel)]='objMovie.Year' name="Year" placeHolder="Please Enter Year" />
          <span class="help-block" *ngIf="YearControl.invalid">Please Enter Year</span>
          </div>
        <div class="form-group" [ngClass]="{'has-error':!GenreControl. valid}" >
          <input required type="text" class="form-control input-sm"[ngClass]="{'is-invalid':!GenreControl. valid}" #GenreControl="ngModel"   [(ngModel)]='objMovie.Genre'name="Genre"  PlaceHolder="Please Enter Genre" />
          <span class="help-block invalid-feedback" *ngIf="GenreControl.invalid">Please enter Genre</span>
        </div>
        <div class="form-group">
          <input required type="text" #Actors="ngModel"class="form-control input-sm" [(ngModel)]='objMovie.Actors'name="Actor" PlaceHolder="Please Enter Actor" /></div>
          <span class="help-block" *ngIf="Actors.invalid">Please enter atleast one actor name</span>
          <div class="form-group">
            <textarea  required class="form-control" rows="5" PlaceHolder="Please Enter short discription"> A thief who came..</textarea>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="Reset()" >Reset</button>
            <button type="Submit" class="btn btn-primary" data-dismiss="modal" [disabled]='movieForm.invalid' >Save</button>
          </div>
      
    </form>
   
    </ngx-smart-modal>
</div>
    
