<div class="container">
    <br>
    <div class="row pos centered" style="background-color:Grey;">
      <div class="col-lg-3 col-centered " style="text-align:center">
       <h3><b>Generic</b></h3> 
      </div>
      <div class="col-lg-9  " style="text-align:center">
        <h3><b> Movies History</b></h3>
      </div>
   
    </div>
    <br>
    <div class="row pos">
      <div class="col-lg-3  well ">
        <ul type="none" class="list-group">
          <li class="list-group-item " (click)="menuSelection(Genre.Type)" *ngFor="let Genre of lstGenre " [ngClass]="{'active': selectedItem == Genre.Type}" >{{Genre.Type}}
        </ul>
      </div> 
      <div class="col-lg-9  well ">
        <div class="input-group">
          <input type="text" class="form-control" #txtSearch placeholder="Search via year or movie name">
          <span class="input-group-btn">
            <button class="btn btn-search" type="button" (click)=(GetMoviesAsPerSearch(txtSearch.value))><i class="fa fa-search fa-fw" ></i> </button>
          </span>
        </div>
        <div >
          <div class="row form-row"*ngIf='_lstMovies' >
            <div class="col-lg-3 col-centered well" *ngFor="let movie of _lstMovies | paginate: { itemsPerPage: 3, currentPage: p} " style="margin: 5px;"> 
              <figure>
                <img src={{movie.Image}}  class="img-rounded" alt={{movie.Name}} width="180" height="236">
                <figcaption><b>{{movie.Name}}</b></figcaption>
                <figcaption>
                    <div class="crop" 
                    [style.width.px]="movie.Star*20"
                    [title]="movie.Star">
                  
                  <div style="width:100px">
                  <span class="fa fa-star checked"></span> 
                  <span class="fa fa-star checked"></span> 
                  <span class="fa fa-star checked"></span> 
                  <span class="fa fa-star checked"></span> 
                  <span class="fa fa-star checked"></span> 
                  </div>
                  </div>
                  </figcaption>
                <figcaption>Year:{{movie.Year}}</figcaption>
                <figcaption>Genre:{{movie.Genre}}</figcaption>
                <figcaption>Director: {{movie.Director}}</figcaption>
                <figcaption>Actor: {{movie.Actors}}</figcaption>
                <figcaption data-placement="top" [title]="movie.ShortDescription"><b>Plot:</b>{{(movie.ShortDescription.length)>100?movie.ShortDescription.substr(0,100)+"...":movie.ShortDescription}}</figcaption>
                <button  data-placement="top" title="Edit Movie Detail"   (click)="OpenModel(movie.Id)">  <span class="glyphicon">&#x270f;</span></button>
                
                  <ngx-smart-modal #myModal [identifier]="'myModal'" >
                    <form #movieForm="ngForm" (ngSubmit)="Update()" >
                        <div class="form-group" style="background-color:lightskyblue;text-align: center">
                            <h1>Edit Movie Details</h1>
                            
                          </div>
                    <div class="form-group" >
                      <img  class="form-control input-sm"[src]="objMovie.Image" class="img-fluid" alt="objMovie.Name">
                    </div>
                   
                    <div class="form-group">
                      <figcaption><b>{{objMovie.Name}}</b></figcaption>
                      <figcaption>
                          <div class="crop" 
                          [style.width.px]="objMovie.Star*20"
                          [title]="objMovie.Star">
                        
                        <div style="width:100px">
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        <span class="fa fa-star checked"></span> 
                        </div>
                        </div>
                        </figcaption>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!YearControl. valid}">
                          <input required type="text" class="form-control input-sm" [ngClass]="{'is-invalid':!YearControl. valid}"#YearControl="ngModel"  [(ngModel)]='objMovie.Year' name="Year" placeHolder="Please Enter Year" />
                        <span class="help-block invalid-feedback" *ngIf="YearControl.invalid">Please Enter Year</span>
                        </div>
                      <div class="form-group" [ngClass]="{'has-error':!GenreControl. valid}" >
                        <input required type="text" class="form-control input-sm"[ngClass]="{'is-invalid':!GenreControl. valid}" #GenreControl="ngModel"   [(ngModel)]='objMovie.Genre'name="Genre"  PlaceHolder="Please Enter Genre" />
                        <span class="help-block invalid-feedback" *ngIf="GenreControl.invalid">Please enter Genre</span>
                      </div>
                      <div class="form-group" [ngClass]="{'has-error':!ActorsControl. valid}">
                        <input required type="text"class="form-control input-sm" [ngClass]="{'is-invalid':!ActorsControl. valid}" #ActorsControl="ngModel" [(ngModel)]='objMovie.Actors'name="Actor" PlaceHolder="Please Enter Actor" />
                        <span class="help-block invalid-feedback" *ngIf="ActorsControl.invalid">Please enter atleast one actor name</span>
                        <div class="form-group" [ngClass]="{'has-error':!SMControl. valid}"></div>
                          <textarea  required class="form-control input-sm" [ngClass]="{'is-invalid':!SMControl. valid}" #SMControl="ngModel" rows="5" PlaceHolder="Please Enter short discription"[(ngModel)]='objMovie.ShortDescription' name="Description"> </textarea>
                          <span class="help-block invalid-feedback" *ngIf="SMControl.invalid">Please enter atleast one actor name</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal"(click)="Reset()" >Reset</button>
                          <button type="Submit" class="btn btn-primary" data-dismiss="modal" [disabled]='movieForm.invalid' >Save</button>
                        </div>
                    
                  </form>
                 
                  </ngx-smart-modal>          
                    </figure>
              
            </div>           
              <pagination-controls *ngIf='_lstMovies.length>0' (pageChange)="p = $event"></pagination-controls>
          </div>
          <br/>
          <div class="row form-row  " *ngIf='!_lstMovies.length>0' >
           
              <div class="col-lg-3 col-centered well border">
              <figcaption><b>No match found </b></figcaption>
            </div>
            </div>
        </div>
      </div>
    </div>	
  </div>

    
      
    
    
    
      


                

