<div class="container">
  <div class="row  " style="background-color:Grey;">
    <div class="col-lg-3 col-centered ">
      Generic
    </div>
    <div class="col-lg-9 ">
     Movies History
    </div>
 
 </div>
  <div class="row pos">
     <div class="col-lg-3  well ">
        <ul type="none" class="list-group">
          <li class="list-group-item active">All
            <li class="list-group-item">Action
              <li class="list-group-item"> Crime
                <li class="list-group-item">Drama
                  <li class="list-group-item">Mystery
                    <li class="list-group-item">Aci Fi
                      <li class="list-group-item"> Adventure
        </ul>
     </div> 
      <div class="col-lg-9 col-centered well ">
      <div class="input-group">
	<input type="text" class="form-control" #txtSearch placeholder="Search via year or movie name">
      <span class="input-group-btn">
        <button class="btn btn-search" type="button" (click)=(GetMoviesAsPerSearch(txtSearch.value))><i class="fa fa-search fa-fw" ></i>Search </button>
      </span>
</div>
<div *ngFor="let movie of _lstMovies">
        <div class="row form-row" >
        <div class="col-lg-3 col-centered well" style="margin: 5px;"> 
         <figure>
          <img src={{movie.Image}}  class="img-rounded" alt={{movie.Name}}>
          <figcaption><b>{{movie.Name}}</b></figcaption>
          <figcaption>****</figcaption>
        <figcaption>Year:{{movie.Year}}</figcaption>
        <figcaption>Genre:{{movie.Genre}}</figcaption>
         <figcaption>Director: {{movie.Director}}</figcaption>
          
         <figcaption>Actor: {{movie.Actors}}</figcaption>
          <figcaption>Plot:A thief who came..</figcaption>
          <button (click)="UpdateMovieData()" style="font-size:24px" data-toggle="modal" data-target="#myModal"> <i class="material-icons">Edit</i><img src="../assets/Images/Edit.png"/></button>
             </figure>

        </div>
          
   </div>
   
</div>

